/*structure globale de la page*/
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
#bloc_page
{
    margin: 0 auto;
    max-width: 1200px;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
#bloc_page
{
    margin: 0;
}
}
/*header*/
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1em;
    height: 80px;
}
header img
{
    height: 50px;
    width: 100px;
    padding-left: 20px;
}
#menu
{
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-right: 60px;
    align-items: center;
}
nav
{
    display: flex;
    margin-left: auto;
}
.lien_menu
{
    height: 99%;
    padding-top: 30px;
}
header a
{
    text-decoration: none;
}
.lien_menu:hover
{
    border-top: solid 1px #0065FC;
    color: #0065FC;
}
#inscription
{
    display: flex;
    color: #0065FC;
    font-weight: 600;
    padding-right: 5%;
    list-style-type: none;
}
#inscription:hover
{
    font-weight: 800;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
nav
{
    position: absolute;
    top: 50px;
    width: 100%;
}
#inscription
{
    width: 75%;
    justify-content: flex-end;
}
header img 
{
    padding-left: 15px;
    height: 40px;
    width: 80px;
}
#menu
{
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}
.lien_menu
{
    height: 50%;
    width: 50%;
    text-align: center;
}
.lien_menu:hover 
{
    border-bottom: solid 1px #0065FC;
    border-top: none;
}
}
/*section des filtres*/
/*filtre localisation*/
#section_recherche
{
    display: flex;
    flex-direction: column;
    color: black;
    margin: 20px 0px 0px 0px;
}
#section_recherche h1
{
    font-size: 1.3em;
    font-weight: 600;
}
#section_recherche p
{
    font-size: 0.8em;
}
#titre_recherche
{
    margin: 15px 20px;
}
#filtre_localisation
{
    display:flex;
    justify-content: center;
}
.fa-map-marker-alt
{
    background: #F2F2F2;
    font-size: 1.3em;
    padding: 11px 13px 12px 13px;
    margin-right: -5px;
    border-radius: 10px 0px 0px 10px;
}
.fa-search
{
    display: none;
}
#localisation
{
    border: solid 0.5px #F2F2F2;
    padding: 9px 8px 8px 12px;
    font-size: 1.3em;
    width: 200px;
}
#localisation:focus
{
    outline: none;
    border: solid 0.5px #DEEBFF;
}
#rechercher
{
    color: white;
    background-color: #0065FC;
    padding: 10px 15px 8.5px 15px;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size: 1.3em;
}
#rechercher:hover
{
    cursor: pointer;
}
/*responsive tablette & mobile*/
@media all and (max-width: 1024px)
{
#rechercher
{
    display:none;
}
#section_recherche
{
    margin-top: 0;
}
.fa-search
{
    display: initial;
    background-color: #0065FC;
    padding: 10px 12px 11px 12px;
    border-radius: 10px;
    margin-left: -10px;
    color: white;
    font-size: 1.3em;
}
#filtre_localisation
{
    justify-content: center;
    width: 100%
}
#titre_recherche
{
    text-align: center;
}
#section_recherche h1
{
    font-size: 1.4em;
}
#section_recherche p 
{
    font-size: 0.9em;
}
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
#section_recherche
{
    margin-top: 60px;
}
#section_recherche h1
{
    font-size: 1.5em;
}
}
/*filtres pré-enregistrés*/
#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
}
#filtres span
{
    font-weight: 600;
    margin-right: 20px;
}
.pre_filtre
{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    margin-right: 40px;
    position: relative;
}
.pre_filtre a
{
    text-decoration: none;
    text-align: center;
    margin: 0;
    border: solid 1.5px #d3d3d3;
    border-radius: 20px;
    padding: 8.5px 13px 8.5px 45px;
    color: black;
    font-weight: 600;
}
.pre_filtre a:hover
{
    background-color: #DEEBFF;
    border: #DEEBFF solid 2px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    position: absolute;
    top: -10px;
    margin: 0;
    background-color: #DEEBFF;
    padding: 11px;
    border-radius: 25px;
    color: #0065FC;
    font-size: 0.8em;
    height: 13px;
    width: 13px;
    bottom: 5px;
}
#search_info
{
    display: flex;
    margin: 10px 0px 10px 25px;
}
.fa-info-circle
{
    margin-right: 10px;
    color: white;
    background-color: #0065FC;
    border: solid #d3d3d3 1px;
    border-radius: 20px;
    font-size: 1em;
    height: 16px;
}
/*responsive tablette & mobile*/
@media all and (max-width: 1024px)
{
.pre_filtre
{
    margin-top: 15px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    padding: 12px;
}
#filtres
{
    justify-content: center;
}
}
/*section hébergements*/
#section_hebergements
{
    display: flex;
    margin-bottom: 30px;
}
#section_hebergements h2
{
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0px 10px 10px;
}
#cartes_hebergements
{
    flex: 2;
}
aside
{
    flex: 1;
}
.fa-star.blue
{
    color: #0065FC;
}
.fa-star
{
    color: #e9e9e9;
}
.stars
{
    padding: 8px 0px 4px 0px;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
#section_hebergements
{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}
#section_hebergements h2 
{
    font-size: 1.3em;
}
}
/*cartes d'hébergements pricipaux*/
#cartes_hebergements
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    margin-right: 25px;
}
#cartes
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.infocarte_hebergement
{
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    margin: 5px;
    box-shadow: 3px 0px 10px #d3d2d2;
    cursor: pointer;
}
.infocarte_hebergement:hover
{
    box-shadow: 3px 0px 10px #0065FC;
}
.infocarte_hebergement img
{
    height: 90px;
    width: 170px;
    border-radius: 15px 15px 0px 0px;
}
.infocarte_hebergement a
{
    text-decoration: none;
}
.textcarte_hebergement
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55px;
    padding: 0px 0px 0px 10px;
    color: black;
    font-size: 0.6em;
}
.textcarte_hebergement h3
{
    font-weight: 600;
    padding: 2px 0px 4px 0px;
}
.textcarte_hebergement h3, p
{
    margin: 0;
}
#cartes_hebergements span a
{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-weight: 600;
    margin: 0px 0px 0px 10px;
}
#cartes_hebergements span a:hover
{
    color: #0065FC;
}
/*responsive tablette*/
@media all and (min-width: 812px) and (max-width: 1024px)
{
#cartes
{
    justify-content: space-around;
}
.infocarte_hebergement img 
{
    height: 100px;
    width: 185px;
    object-fit: cover;
}
}
@media all and (min-width: 667px) and (max-width: 812px)  
{
#cartes
{
    height: 600px;
}
.infocarte_hebergement
{
    width: 95%;
    height: 180px;
    margin-bottom: 10px;
}
.infocarte_hebergement:nth-last-child(-n+3)
{
    display:none;
}
.infocarte_hebergement img
{
    height: 110px;
    width: 100%;
    object-fit: cover;
}
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
#cartes_hebergements
{
    background-color: unset;
    border-radius: 0;
    margin: 0;
    padding: 25px;
    width: auto;
} 
#cartes
{
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 15px 0px;
    width: 100%;
}
.infocarte_hebergement
{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}
.infocarte_hebergement img
{
    height: 110px;
    width: 100%;
    object-fit: cover;
}
.textcarte_hebergement h3 
{
    font-size: 1.2em;
}
.textcarte_hebergement
{
    font-size: 0.8em;
}
#cartes_hebergements span a
{
    font-size: 1em;
}
}
/*cartes les plus populaires*/
aside
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px;
}
#titre_aside
{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 5px;
}
#cartes_aside
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex: 8;
}
#cartes_aside a
{
    text-decoration: none;
}
.infocarte_aside a
{
    display: flex;
    height: 90px;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    margin: 5px;
    color: black;
    font-size: 0.6em;
    box-shadow: 3px 0px 10px #d3d2d2;
    cursor: pointer;
}
.infocarte_aside a:hover
{
    box-shadow: 3px 0px 10px #0065FC;
}
.infocarte_aside img
{
    height: 99.5%;
    vertical-align: middle;
    width: 90px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.textcarte_aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
}
.textcarte_aside h3, p
{
    margin: 0;
}
.textcarte_aside h3
{
    font-weight: 600;
    padding: 4px 0px 4px 0px;
}
.textcarte_aside p
{
    padding-bottom: 15px;
}
/*responsive tablette & mobile*/
@media all and (min-width: 812px) and (max-width: 1024px)
{
aside
{
    width: auto;
    margin: 0;
    padding: 20px;
}
#cartes_aside
{
    flex: 10;
}
.infocarte_aside a 
{
    height: 130px;
    width: 95%;
    margin-top: 10px;
}
.infocarte_aside img
{
    height: 130px;
    width: 130px;
}
.textcarte_aside
{
    margin-top: 5px;
    height: 90%;
}
.textcarte_aside p
{
    padding-bottom: 0px;
}
}
/*responsive mobile*/
@media all and (min-width: 667px) and (max-width: 812px)
{
aside 
{
    width: auto;
    margin: 0;
    padding: 20px;
}
#cartes_aside
{
    flex: 18;
    justify-content: space-between;
    width: 100%;
}
#titre_aside
{
    padding-top: 0;
}
.infocarte_aside a
{
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 100%;
}
.infocarte_aside img
{
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.textcarte_aside p 
{
    padding-bottom: 0px;
}
}
@media all and (max-width: 667px)
{
aside 
{
    border-radius: 0;
    width: auto;
    margin: 0;
    padding: 20px;
}
#cartes_aside
{
    align-content: center;
}
.infocarte_aside img
{
    height: 150px;
    width: 200px;
}
.infocarte_aside a 
{
    height: 150px;
    width: 100%%;
}
.textcarte_aside h2
{
    font-size: 1.3em;
}
.textcarte_aside h3 
{
    padding-top: 5px;
    font-size: 1.6em;
}
.textcarte_aside p 
{
    font-size: 1.3em;
    padding-bottom: 0px;
}
}
@media all and (max-width: 420px)
{
.infocarte_aside img
{
    width: 120px;
    height: 120px;
}
.infocarte_aside a 
{
    height: 120px;
}
}
/*section activités*/
#section_activites
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#section_activites h2
{
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0px 10px 5px;
    padding-left: 20px;
}
#cartes_activites
{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
#cartes_activites a
{
    text-decoration: none;
}
.activite h3
{
    font-size: 0.7em;
    color: black;
    font-weight: 600;
    margin-left: 10px;
}
.activite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 3px 0px 10px #d3d2d2;
    margin: 5px;
}
.activite:hover
{
    box-shadow: 3px 0px 10px #0065FC;
}
.activite img
{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.activite.vieux_port img, .activite.parc_calanques img
{
    height: 250px;
    width: 200px;
}
.activite.fort_pomegues img
{
    height: 120px;
    width: 200px;
}
.activite.iles_frioul img
{
    height: 70px;
    width: 200px;
}
.activite.la_garde img
{
    height: 100px;
    width: 200px;
}
.activite.parc_longchamp img
{
    height: 80px;
    width: 200px;
}
.activite_colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*responsive tablette*/
@media all and (min-width: 890px) and (max-width: 1024px)
{
#cartes_activites
{
    justify-content: space-between;
    flex-wrap: wrap;
}
}
/*responsive mobile*/
@media all and (min-width: 667px) and (max-width: 890px)
{
#cartes_activites
{
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
    overflow: scroll;
}
#section_activites h2 
{
    padding-left: 30px;
}
#section_activites
{
    margin: 20px 0;
}
}
@media all and (max-width: 667px)
{
#section_activites
{
    width: auto;
    margin: 20px 0;
}
#cartes_activites
{
    flex-direction: column;
    align-content: center;
    padding: 0 25px;
    width: auto;
    flex-wrap: nowrap;
}
.activite
{
    margin: 10px 0px 10px 0px;
    height: 150px;
    width: 100%;
}
.activite.vieux_port img, .activite.parc_calanques img, .activite.fort_pomegues img, .activite.iles_frioul img, .activite.la_garde img, .activite.parc_longchamp img
{
    height: 110px;
    width: 100%;
}
#section_activites h2 
{
    font-size: 1.3em;
}
#cartes_activites h3 
{
    font-size: 1em;
}
}
/*footer*/
footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 50px;
    padding-top: 15px;
    background-color: #F2F2F2;
    font-size: 0.6em;
}
footer a
{
    text-decoration: none;
    color: black;
}
footer li
{
    margin-top: 5px;
}
footer a:hover
{
    font-weight: 800;
}
footer ul
{
    list-style-type: none;
    margin: 5px 0px 10px -40px;
}
footer span
{
    font-weight: 700;
}
.footer
{
    flex: 33.3%;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
footer
{
    flex-direction: column;
    font-size: 0.8em;
}
.footer
{
    margin-bottom: 10px;
}
}